{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block extra_styles %}
<style>
  /* Additional styles specific to the home page */
  .container {
    padding-top: 5rem; /* Add space after the navbar */
  }

  .form-container {
    margin: 0 auto; /* Center horizontally */
    max-width: 400px; /* Adjust width as needed */
    background-color: #fff; /* White background */
    padding: 2rem; /* Padding for spacing */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
/*  */
    .container {
        padding: 2rem 0;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh; /* Adjust height as needed */
    }

    form {
        background-color: #fff;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Inherit colors from base.html for a cohesive look */
    form h1, form label {
        color: #DC143C; /* Deep Crimson color from base.html */
    }

    form input[type="text"],
    form textarea {
        width: 100%;
        padding: 0.7rem;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 1rem;
    }

    form input[type="submit"] {
        background-color: #2f4f4f; /* Dark background from base.html */
        color: #fff;
        padding: 0.7rem 1.5rem;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    form input[type="submit"]:hover {
        background-color: #495057; /* Darker grey background on hover from base.html */
    }









</style>
{% endblock %}

{% block content %}
<div class="container">
  <form action="" method="POST" enctype="multipart/form-data" class="form-container">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">NAME:</label>
      <input type="text" id="name" name="name" required>
    </div>

    <div class="form-group">
      <label for="image">IMAGE:</label>
      <input type="file" id="image" name="image" required>
    </div>

    <div class="form-group">
      <label for="year">YEAR:</label>
      <input type="number" id="year" name="year" required>
    </div>

    <div class="form-group">
      <label for="desc">DESCRIPTION:</label>
      <textarea id="desc" name="desc" rows="4" required></textarea>
    </div>

    <div class="form-group">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
{% endblock %}